@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Rubik Scribble', sans-serif;
}

body {
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    height: 100vh;
} 

/* gradient background based on the song playing */
.song-one {
    background-image: linear-gradient(to bottom right, rgba(255, 132, 0, 0.781),  rgba(194, 172, 0, 0.858)) ;
}
.song-two {
    background-image: linear-gradient(to bottom right, pink, red, yellow) ;
}
.song-three {
    background-image: linear-gradient(to bottom right, rgb(255, 102, 59), rgb(201, 201, 37), rgb(157, 225, 86)) ;
}

h1 {
    color: #fff;
}

.music-player-body {
    margin: 100px 0;
    padding: 30px 30px;
    position: relative;
    display: flex;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 10px 10px 20px rgba(38, 209, 0, 0.846);
}

.albumn_container {
    position: relative;
    width: 100px;
}

#albumn_art {
    position: absolute;
    width: inherit;
    height: 100px;
    border-radius: 50%;
    object-fit: cover; 
    object-position: center;
    bottom: 0;
    left: 0; 
    animation: rotate 2s linear infinite;
    animation-play-state: paused;
}

/* adding the play class will animate the albumn artwork */
.music-player-body.play #albumn_art {
    animation-play-state: running;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.music-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}


.action-btn {
    background-color: white;
    border: 0;
    color: #dfdbdf;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
}

.action-btn-big {
    color: #cdc2d0;
    font-size: 30px;
}

.music-info {
    padding: 10px 10px 10px 150px;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ; 
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    /* opacity: 0; */
    transform: translateY(0%);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}

.music-info h4 {
    margin: 0 ;
}

.music-player-body.play .music-info {
    opacity: 1;
    transform: translateY(-100%);
}

.progress-container {
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
}

.progress {
    background-color: #fe8daa;
    border-radius: 5px;
    height: 100%;
    width: 0;
    transition: width 0.1s linear;
}

.hidden {
    display: none;
}

